.drm_player_app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  height: 100vh;
  min-height: 700px;
  background-color: white;
}

.page_container {
  width: auto;
  height: auto;
  margin: auto;
}

.app_footer {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.copyright {
  font-size: 11px;
  color: darkslategrey;
  line-height: 17px;
  letter-spacing: 0px;
}