.thumbnail {
  display: grid;
  justify-content: center;
  width: 300px;
  height: 300px;
  color: black;
  text-decoration: none;
}

.thumbnail img {
  width: 250px;
  height: 250px;
  background-color: rgb(237, 237, 237);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0);
  box-shadow: 4px 6px 11px 1px rgb(155 152 148 / 20%);
}